.Introduction-outer-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.Introduction-text-content {
  font-family: 'Kanit', sans-serif;
  margin: 30px 20px;
  font-size: 1.2em;
   /* background-color: #e2e8e4;  */
   /* background-color: #f9f9ff;  */
   /* background-color: transparent;
   background-position: right -100px;
   background-image: url('/hill.jpg'); */
}

.Introduction-main-title {
  text-align: center;
  font-size: 3em;
  line-height: 1.3em;
  color: #2d3033;
}

.Introduction-subtitle {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 10px;
  color: #4d648d;
}

.Introduction-description {
  text-align: center;
  font-size: 1.25em;
  /* color: #c5beba; */
  color: #92aac7;
}

.Introduction-blurb {
  font-family: 'Roboto', sans-serif;
  color: #a57c65;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 470px;
  text-align: center;
  /* font-size: 1.4em; */
   line-height: 1.7em; 
}

 .Introduction-side-image-div {
   margin: 0;
   padding: 0;
   /* border: 1px solid grey; */
   height: 340px;
   width: 612px;
   background-image: url('/trees.jpg');
   background-position: center left;
   flex-shrink: 45;
 } 

