.Projects-outer-div {
  margin: 20px 0;
}

.Projects-header {
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
  text-align: center;
}

.Projects-list-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Projects-item-div {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.Projects-title {
  font-weight: bold;
  font-size: 1.2em;
}

.Projects-thumbnail {
  max-width: 300px;
}
