.Projects-outer-div {
  margin: 10px 0;
}

.Projects-blurb {
  font-size: 1.1em;
  margin: 0 auto;
  max-width: 660px;
  padding: 5px;
}

.Projects-list-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
}

.Projects-list-div a {
  color: inherit;
}

.Projects-item-div {
   display: flex;
   flex-flow: column nowrap;
    align-items: center; 
   width: 278px;
   margin: 10px 10px;
   padding: 10px;
   transition: all 0.2s ease;
   border-radius: 10px;
}

.Projects-item-div:hover {
   background-color: #F7D994;
}

.Projects-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 4px;
  padding-top: 6px;
  color: #4d648d;
}

.Projects-thumbnail {
  max-width: 256px;
  border: 1px solid #ccc;
}

.Projects-description {
  font-size: 1.05em;
  text-align: center;
}