.SectionHeader-main {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
}

.SectionHeader-background {
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 65px;
}

.SectionHeader-background-color {
  height: 6px;
}

.SectionHeader-title {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5em;
  text-align: center;
  background-color: white;
  padding: 0 20px;
  border-width: 5px;
  border-style: solid;
  border-radius: 40px;
  margin: 0; 
}

.SectionHeader-ph {
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
  line-height: 1.25em;  
  height: 48px; 
  margin: 10px;
  background-color: #404040;
  padding: 4px; 
  transition: all 0.2s ease;
}

@media screen and (max-width: 370px) {
  .SectionHeader-ph {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.SectionHeader-ph:hover {
  background-color: #777;
}

.SectionHeader-ph-p {
  color: #92aac7;
}

.SectionHeader-ph-h {
  color: #fdd475;
}

.SectionHeader-ph-arrow {
  color: #b3de81;
}
