.WBI-outer-div {
  margin: 10px 0;
}

.WBI-flex-container {
  max-width: 1200px;
  margin: 0 auto;
}

.WBI-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.WBI-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  /* margin: 0 auto; */
  max-width: 600px;
  padding: 5px;
  
}

.WBI-text ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.WBI-image-div {
  display: flex;
  flex-flow: column nowrap;
   align-items: center; 
  max-width: 534px;
  margin: 10px 10px;
  padding: 10px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.WBI-thumbnail {
  width: 100%;
  /* width: 512px; */
  /* height: 336px; */
  border: 1px solid #ccc;
}

.WBI-image-div:hover {
  background-color: #F7D994;
}
